{% extends "layout.html" %}
{% block main %}
  <div id="box">
    <img class="big" src="{{ url_for('dumbgal.images', filename=filename, size=2000, mode='s') }}">
  </div>
{% endblock %}
{% block sidebar %}
  <p><a href="/">Show all thumbnails</a></p>
  <div id="image-tags">
    {% if tags %}
      <ul>
        {% for tag in tags %}
          <li><a href="{{ url_for('dumbgal.tag_pages', tag=tag) }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    <form method="post" action="{{ url_for('dumbgal.add_tag', filename=filename) }}">
      <p>
        <input type="text" name="tag" size="10" autocomplete="off" list="tags">
        <datalist id="tags">
          {% for tag in all_tags %}
            <option value="{{ tag }}">
          {% endfor %}
        </datalist>
        <input type="submit" value="+">
      </p>
    </form>
  </div>
{% endblock %}
