body {
  background-color: black;
  color: white;
}

a {
  color: white;
}

#tags ul {
  display: block;
  text-align: center;
}

#tags li {
  display: inline;
}

#thumbnails ul {
  clear: both;
}

#thumbnails li {
  display: block;
  list-style-type: none;
  margin: 5px;
  float: left;
}

#box {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  right: 10px;
  vertical-align: middle;
  text-align: center;
}

#box img.big {
  max-width: 100%;
  max-height: 100%;
}

#image-tags {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
