body {
  background-color: black;
  color: white;
}

a {
  color: white;
}

ul {
  clear: both;
}

ul li {
  display: block;
  list-style-type: none;
  margin: 5px;
  float: left;
}

#box {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  right: 10px;
  vertical-align: middle;
  text-align: center;
}

#box img.big {
  max-width: 100%;
  max-height: 100%;
}
